h1,h2,h3{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
    background-image: url(/www/images/textura3.jpg);
    background-attachment: fixed;
    background-size: 100%;
}
body{
    margin: 0;
}
#barranav{
    background-color: #6BADE0;
    position: fixed;
    text-align: center;
    overflow: hidden;
    top: 0;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
#barranav a{
    color:black;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin: 20px;
    width: 100%;
}
nav li{
    display: inline-block;
    font-size: 20px;
    padding: 0px 40px 0px 40px;
}
#barranav a:hover{
    color:green;
}
header{
    margin-top: 55px;
}
.intro{
    height: 600px;
    text-align: center;
}
.foto{
    align-self: center;
    border-radius: 50%;
    background-image: url(/www/images/bruce.jpg);
    background-size: cover;
    box-shadow: 0px 0px 10px 0px #6BADE0;
    height: 350px;
    width: 350px;
    display: inline-block;
    vertical-align: middle;
    margin: 120px 30px 0px 30px;

}
.foto:hover{
    background-image: url(/www/images/dog.jpg);
}